/* Reset CSS */

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent !important;
  outline: none;
  font-family: inherit;
}


/* GENERAL */

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 117rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.clients {
  max-width: 500px;
  margin: 0 auto;
}

.clients__list {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}


.clients__list li {
  border: 1px solid #eee;
  text-align: center;
  margin: 0.8rem;
  padding: 1.6rem;
  flex: 1 1;
  border-radius: 3px;
  text-transform: capitalize;
}